table {
    width: 50%;
    border-collapse: collapse;
    text-align: left;
}

thead {
    background-color: #8B0000;
    color: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

tbody tr:nth-child(odd) {
    background-color: #f8d7da;
}

tbody tr:nth-child(even) {
    background-color: #e9ecef;
}

td:not(:first-child) {
    text-align: right;
}